* {
	margin: 0;
	padding: 0;
}

.game-area {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	border: 1px solid black;
}

.card {
	border: 1px solid black;
	height: 400px;
	width: 25%;
	margin: 20px;
}

.ui {
	border: 1px solid black;
	height: 400px;
	width: 40%;
}

.btn-new-game {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 100px;
	padding: 10px;
}

.character-create {
	text-align: center;
}

.portrait-select {
	display: flex;
	justify-content: center;
	align-items: center;
}

.portrait {
	width: 20%;
	margin: 5px;
}

.class {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	margin: 10px;
	padding: 5px;
}

.class-name {
	width: 30%;
}

.class-description {
	width: 60%;
}

.btn-ready {
	padding: 5px;
}