* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #dadada;
}

h1, h2, h3 {
	font-family: Tangerine, cursive;
}

h1 {
	font-size: 3em;
}

h2, h3 {
	font-size: 1.8em;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);;
}

.text-right {
	text-align: right;
}

.btn {
	margin: 5px;
	padding: 5px;
}

.game-area {
	height: 400px;
	width: 800px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*Cards*/
.card {
	text-align: center;
	position: relative;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.card-entity {
	height: 400px;
	width: 200px;
}

.card-ui {
	height: 400px;
	width: 350px;
	position: relative;
}

.card-back {
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	z-index: -1;
	box-shadow: 2px 2px 6px 2px #989898;
	box-sizing: border-box;
}

.card-front {
	position: absolute;
	height: 100%;
	width: 100%;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	box-shadow: 2px 2px 6px 2px #989898;
}

.flipped {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.entity-back {
	height: 100%;
	box-sizing: border-box;
	border: 6px solid #3e3e3e;
	background-image: url('../images/enemy-symbol.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #6e6e6e;
}

.entity-front {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-sizing: border-box;
	padding: 10px;
}

/*UI Card*/
.ui-screen {
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	background-color: #f5f5f5;
}

.ui-column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 80%;
}

.tall-column {
	height: 85%;
}

.ui-back {
	border: 6px solid #3e3e3e;
	background-image: url('../images/sword-symbol.png');
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #6e6e6e;
}

.btn-start {
	border-bottom: 1px solid;
	text-shadow: 0px 0px 6px #313131;
	transition: text-shadow 0.5s;
	-webkit-transition: text-shadow 0.5s;
}

.btn-start:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px #ababab;
}

/*Character creation*/
.detail-select {
	display: flex;
	justify-content: center;
	align-items: center;
}

.portrait-select {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:5px;
	width: 50%;
}

.portrait {
	width: 80%;
	margin: 5px;
}

.class {
	margin: 20px 5px;
	padding: 5px;
}

.class:hover {
	cursor: pointer;
}

.reroll {
	height: 88%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.reroll-table {
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #ccc;
    width: 50%;
}

td {
    padding: 5px;
}

.reroll-table tr:nth-child(even) {background-color: #eee;}

/*Town Screen*/
.town-screen {
	background-image: url('../images/town.jpg');
	background-position: center;
	background-size: 250%;
}

.town-icon {
	width: 20px;
}


/*Levelup screen*/
.levelup-stat {
	display: flex;
	justify-content: center;
	align-items: center;
}

.levelup-stat-detail {
	margin: 5px;
	padding: 5px;
	width: 70px;
	border: 1px solid #6e6e6e;
	font-size: 0.8em;
}

/*Item store screen*/
.shop-screen {
	/* background-image: url('../images/store.jpg');
	background-position: center;
	background-size: cover; */
}

.town-log {
	height: 20px;
}

.item-list {
	height: 60%;
	width: 80%;
	text-align: left;
	font-size: 0.9em;
	overflow: auto;
}

.item {
	margin: 5px auto;
	padding: 5px;
}

.item:hover {
	cursor: pointer;
}

/*Healer screen*/
.healer-screen {
	/* background-image: url('../images/healer.jpg');
	background-position: center;
	background-size: cover; */
}

.options {
	display: flex;
	flex-direction: column;
}

/*Battle screen*/
.battle-screen {
	background-image: url('../images/arena.jpg');
	background-position: center;
	background-size: cover;
}

.log-container {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	height: 18%;
	width: 80%;
	display: flex;
	flex-direction: column-reverse;
	text-align: left;
	font-size:0.8em;
	padding: 5px;
	border-top: 1px solid #9c9c9c;
	border-left: 1px solid #9c9c9c;
	border-right: 1px solid #9c9c9c;
	background-color: white;
}

/*Player card*/
.player-portrait {
	width: 65%;
	margin: 5px;
}

.levelup-icon {
	position: absolute;
	top: 5px;
	right: 5px;
}

.stat-table {
	text-align: left;
	border-collapse: collapse;
    width: 100%;
	font-size: 0.8em;
}

.stat-table tr:nth-child(even) {background-color: #f2f2f2;}

/*Inventory*/
.inventory-table {
	text-align: left;
	border-collapse: collapse;
    width: 100%;
}

.inventory-table td {
	height: 45px;
	border-bottom: 1px solid #ccc;
}

.inventory-type {
	width: 20%;
}

.inventory-icon {
	width: 100%;
}

/*Enemy card*/
.enemy-portrait {
	width: 95%;
	margin: auto;
}

/*Modal and popup for when game is lost*/
.modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.popup {
	background-color: white;
	margin: 10% auto;
	padding: 20px;
	width: 250px;
	text-align: center;
	animation-name: zoom;
	-webkit-animation-name: zoom;
    animation-duration: 0.6s;
	-webkit-animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@media screen and (min-width: 601px) and (max-width: 800px) {
	.game-area {
		width: 600px;
	}
	
	.town-screen {
		background-size: 320%;
	}
	
	.card-ui {
		height: 350px;
		width: 45%;
	}
	
	.card-entity {
		height: 350px;
		width: 25%;
	}
}


@media screen and (max-width: 600px) {
	.game-area {
		position: initial;
		transform: initial;
		-webkit-transform: initial;
		margin: 20px auto;
		flex-wrap: wrap;
		justify-content: space-evenly;
		height: 820px;
		width: 450px;
	}
	
	.card-ui {
		order: 1;
	}
	
	.card-entity {
		order: 2;
	}
}